/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Our css */
.hide {
  display: none;
}

body {
  background: url('./image/background.jpg') center / cover no-repeat;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}
.modal-menu {
  widows: 100%;
  margin-top: 250px;
  text-align: center;
  background: rgb(168, 162, 162);
}
.start {
  display: inline-block;
  width: 250px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  position: relative;
  /* Закомментил стили из урока */
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 2rem 0; */
  text-align: center;
  padding: 5px;
  z-index: 200;
  color: #000;
  font-size: 1.5rem;
  background: #0091a9;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 700;
}
.start-inner {
  padding: 10px;
  border: 2px solid #000;
}

#easy {
  background-image: url('./image/easy.png');
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 35px;
}
#medium {
  background-image: url('./image/medium.png');
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 40px;}
#hard {
  background-image: url('./image/hard.png');
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 30px;}

.car, .enemy{
  width: 50px;
  height: 100px;
  position: absolute;
  background: transparent url('./image/new-player.png') center / cover no-repeat;
}
/* Если используем перевернутую картинку */
.car {
  transform: rotate(180deg);
}

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameArea {
  width: 300px;
  height: 100vh;
  position: relative;
  margin: auto;
  background:#222;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 10px;
  background: #fff;
  left: 145px;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 1rem 0;
  z-index: 200;
  font-size: 1.5rem;
  color: skyblue;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
}

@media (max-width: 960px) {
  .modal-menu {
    margin-top: 80px;
    padding: 10px 0;
  }
  .start {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 }